.map-container {
    position: absolute;
    width: 960px;
    height: 500px;
}

.sidebarStyle {
display: inline-block;
position: absolute;
top: 0;
left: 0;
margin: 12px;
background-color: #40404085;
color: #ffffff;
z-index: 1 !important;
padding: 6px;
font-weight: bold;
}

.cardMap {
    width: 350px;
    background-color: white;
    margin: 10px;
    padding: 10px;
}